<h4>Oops! looks like something wrong here, please try again or back to the home page!</h4>
<form action="/" method="GET" style="display: inline;">
  <button class="btn btn-warning" type="submit">back</button>
</form>