<form action="/todos/{{ todo.id }}?_method=DELETE" method="POST" style="display: inline;">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" name="isDone" {{#if todo.isDone }} checked {{/if}} disabled>
      </div>
    </div>
    <input class="form-control" type="text" placeholder="what to do?" name="name" value="{{ todo.name }}" disabled>
    <div class="input-group-append">
      <button class="btn btn-success" href="/todos/{{ todo.id }}/edit">edit</button>
      <button class="btn btn-dark" type="submit">clear</button>
    </div>
  </div>
</form>

<a type="button" class="btn btn-info m-4" href="/">back</a>